.advantages__text {
  text-transform: @uppercase;
}

.advantages__item--complete .advantages__text {
  background-color: @main-color;
  min-height: 190px;
  color: rgb(255, 255, 255);
}

.advantages__item--complete .advantages__text--triangle {
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -193px;
  min-height: 210px;
  padding-top: 28px;
}

.advantages__header {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.advantages__item--complete .advantages__header {
  padding-top: 38px;
}

.advantages__text--triangle .advantages__header {
  padding-top: 55px;
}

.advantages__item--brief {
  .advantages__header {
    padding-top: 25px;
  }

  .advantages__number {
    margin-top: 10px;
  }

  .advantages__description {
    width: 250px;
  }
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  width: 270px;
  padding-top: 0;
  margin: 0 auto;
}

.advantages__picture {
  height: 256px;
}

.advantages__list {
  .list-reset;
  background-color: rgb(238, 238, 238);
  min-height: 502px;
}

.advantages__list-item {
  box-sizing: border-box;
  min-height: 167px;
}

.advantages__list-item:nth-child(1),
.advantages__list-item:nth-child(2) {
  border-bottom: 1px solid rgb(214, 214, 214);
}

@media (min-width: @tablet-width) {
  .advantages__item--complete .advantages__text--triangle {
    padding-top: 0;
    background-image: none;
  }


  .advantages__item--complete {
    width: 100%;
    display: flex;
    flex-direction: row;

    .advantages__header {
      padding-top: 46px;
      width: 157px;
      margin: 0 auto;
    }

    .advantages__number {
      margin-top: 10px;
    }

    .advantages__description {
      padding-top: 7px;
    }
  }

  .advantages__item--complete:nth-child(3) {
    flex-direction: row-reverse;
  }

  .advantages__item--complete .advantages__text {
    width: 100%;
  }

  .advantages__header {
    margin: 0 auto;
    font-size: 21px;
  }

  .advantages__item--brief {
    .advantages__header {
      padding-top: 12px;
      width: 120px;
    }

    .advantages__number {
      margin-top: 10px;
      margin-bottom: 25px;
    }

    .advantages__description {
      width: 158px;
    }
  }

  .advantages__description {
    width: 162px;
  }

  .advantages__image {
    min-width: 504px;
    height: 256px;
  }

  .advantages__list {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -5px;
    min-height: 256px;
  }

  .advantages__list-item:nth-child(1),
  .advantages__list-item:nth-child(2) {
    border-bottom: none;
  }

  .advantages__list-item {
    min-width: 34%;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item--complete .advantages__header {
    padding-top: 52px;
  }

  .advantages__item--complete:nth-child(1) .advantages__description {
    width: 280px;
  }

  .advantages__item--complete:nth-child(3) .advantages__description {
    width: 220px;
  }

  .advantages__item--brief {
    .advantages__header {
      padding-top: 5px;
      width: 120px;
    }

    .advantages__description {
      width: 300px;
      margin-top: -5px;
    }
  }

  .advantages__image {
    width: 800px;
    height: 256px;
  }
}
