.advantages__title {
  text-transform: @uppercase;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 300;
}

.advantages__list {
  display: flex;
  flex-flow: column;
  text-transform: @uppercase;
  text-align: center;
  .list-reset;
}

.advantages__item--complete .advantages__text {
  background-color: @main-color;
  height: 190px;
  color: rgb(255, 255, 255);
}

.advantages__item--complete .advantages__text--triangle {
  background-image: url("../../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% -22px;
  min-height: 210px;
}

.advantages__item--brief .advantages__text {
  background-color: rgb(238, 238, 238);
  min-height: 167px;
}

.advantages__header {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages__item--complete .advantages__header {
  padding-top: 40px;
}

.advantages__item--brief .advantages__header {
  padding-top: 20px;
}

.advantages__number,
.advantages__description {
  font-size: 14px;
  line-height: 21px;
}

.advantages__image-city {
  background-image: url("../../img/main-city-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
}

.advantages__image-bridge {
  background-image: url("../../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .advantages__item--complete .advantages__text--triangle {
    background-image: none;
  }

  .features__item:nth-child(2) {
    order: 1;
  }

  .advantages__item--complete {
    display: flex;
    min-height: 255px;
    width: 100%;
  }

  .advantages__item--complete:nth-child(3) {
    flex-direction: row-reverse;
  }

  .advantages__item--complete:nth-child(3) .advantages__text {
    margin-left: -3px;
  }

  .advantages__item--complete .advantages__text {
    width: 33%;
    height: 256px;
  }

  .advantages__image-city {
    background-image: url("../../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    height: 260px;
    width: 67%;
  }

  .advantages__image-bridge {
    background-image: url("../../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    height: 260px;
    width: 67%;
  }

  .features__item {
    width: 160px;
    text-align: center;
  }

  .advantages__item-wrapper {
    display: flex;
    justify-content: center;
    height: 255px;
    margin-top: -5px;
  }

  .advantages__item--brief {
    width: 34%;
  }

  .advantages__item--brief:nth-child(1) {
    margin-left: 3px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item--complete .advantages__text {
    width: 33%;
    height: 260px;
  }

  .advantages__image-city {
    background-image: url("../../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    height: 260px;
  }

  .advantages__image-bridge {
    background-image: url("../../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    height: 260px;
  }

  .advantages__item--complete:nth-child(3) .advantages__text {
    margin-left: -4px;
  }

  .features__item {
    width: 260px;
    text-align: center;
  }

  .advantages__item--brief:nth-child(1) {
    margin-left: 4px;
  }
}
