.common {
  text-transform: @uppercase;
  text-align: center;
}

.common__title {
  font-size: 21px;
  line-height: 26px;
}

.common__description {
  font-size: 14px;
  line-height: 24px;
}

.common__button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 21px;
  line-height: 26px;
  background-color: @main-color-btn;
  padding: 10px 30px;
  box-sizing: border-box;
}
