.features__list {
  .list-reset;
  box-sizing: border-box;
}

.features__item {
  margin-left: 21px;
}

.features__item--house {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 38px 38px;
  margin-top: 20px;

  .features__header {
    padding-top: 10px;
  }

  .features__description {
    padding-top: 15px;
  }
}

.features__item--gift {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 38px 38px;
  margin-top: 20px;

  .features__header {
    padding-top: 7px;
  }

  .features__description {
    padding-top: 15px;
  }
}

.features__item--burger {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 38px 38px;
  margin-top: 20px;

  .features__header {
    padding-top: 7px;
  }

  .features__description {
    padding-top: 15px;
    padding-bottom: 35px;
  }
}

.features__text {
  text-transform: @uppercase;
  width: 258px;
  text-align: left;
  padding-left: 50px;
}

.features__header {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.features__description {
  font-size: 14px;
  line-height: 21px;
  width: 210px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .features__list {
    display: flex;
    flex-direction: row;
    height: 330px;
    margin-left: -10px;
  }

  .features__item {
    margin: 0 auto;
    margin-top: 60px;
  }

  .features__item--house {
    background-size: 76px 76px;
    background-position: top center;
  }

  .features__item--gift {
    background-size: 76px 76px;
    background-position: top center;
  }

  .features__item--burger {
    background-size: 76px 76px;
    background-position: top center;
  }

  .features__item:nth-child(2) {
    order: 1;
  }

  .features__text {
    text-align: center;
    padding-left: 0;
    padding-top: 92px;
    width: 100%;
  }

  .features__header {
    font-size: 21px;
  }

  .features__description {
    width: 165px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .features__list {
    margin-left: 0;
  }

  .features__description {
    margin-top: 5px;
    min-width: 288px;
  }

  .features__item--gift .features__description {
    min-width: 220px;
  }
}
