.features__list {
  .list-reset;
  text-align: left;
}

.features__header {
  font-size: 18px;
  line-height: 26px;
}

.features__description {
  font-size: 14px;
  line-height: 21px;
}


@media (min-width: @tablet-width) {
  .features__list {
    display: flex;
    justify-content: space-around;
  }

  .features__item:nth-child(2) {
    order: 1;
  }
}
