.feedback {
  display: flex;
  flex-flow: column;
}

.feedback__item {
  border: none;
  margin: 0;
  padding: 0;
}

.feedback__title {
  text-transform: @uppercase;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}

.feedback__list {
  .list-reset;
  display: flex;
  flex-flow: column;
}

.feedback__present-item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  box-sizing: border-box;
}

.feedback__present-title,
.feedback__contacts-title {
  text-transform: @uppercase;
  font-size: 14px;
  line-height: 26px;
}

.feedback__contacts-title {
  padding-left: 20px;
}

.feedback__contacts-input,
.feedback__present-input {
  background-color: @input-color;
  border: 5px solid transparent;
  min-height: 58px;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    background-color: @input-color-hover;
    border: 5px solid @input-color-hover;
  }

  &:focus {
    background-color: @input-color-focus;
    border: 5px solid @input-color-hover;
  }
}

.feedback__present-input {
  margin-left: 20px;
}

.feedback__present-input[placeholder],
.feedback__contacts-input[placeholder],
.feedback__description[placeholder] {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.feedback__contacts-item {
  text-align: left;
}

.feedback__impression-title,
.feedback__landmarks-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 20px;
}

.feedback__description {
  box-sizing: border-box;
  background-color: @input-color;
  width: 100%;
  max-width: 960px;
  min-height: 160px;
  border: 5px solid transparent;

  &:hover {
    background-color: @input-color-hover;
    border: 5px solid @input-color-hover;
  }

  &:focus {
    background-color: @input-color-focus;
    border: 5px solid @input-color-hover;
  }
}

.feedback__description[placeholder] {
  padding-left: 20px;
  padding-top: 20px;
}

.feedback__send-btn {
  border: none;
  text-transform: @uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: @main-color-btn;
  padding: 10px 30px;
  min-width: 280px;

  &:hover {
    background-color: @main-color-btn-hover;
  }

  &:active {
    background-color: @main-color-btn-active;
    color: rgb(136, 182, 209);
  }
}

.feedback__send-notice {
  display: none;
}

.feedback__impression-item,
.feedback__landmarks-item {
  position: relative;
  padding-top: 42px;
}

.feedback__impression-input,
.feedback__landmarks-input {
  appearance: none;
  margin-left: 45px;
  box-sizing: border-box;
}

.feedback__impression-input + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  bottom: -15px;
  display: block;
  width: 56px;
  height: 56px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__impression-input:hover + label::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.feedback__impression-input:active + label::before {
  background-image: url("../img/checkbox-off-active.svg");
}

.feedback__impression-input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.feedback__impression-input:checked:hover + label::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.feedback__impression-input:checked:active + label::before {
  background-image: url("../img/checkbox-on-active.svg");
}

.feedback__impression-input:focus + label::before,
.feedback__impression-input:checked:focus + label::before {
  border: 2px solid rgb(163, 196, 298);
  border-radius: 50%;
  background-position: -1px -1px;
}

.feedback__landmarks-input + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  bottom: -15px;
  display: block;
  width: 56px;
  height: 56px;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.feedback__landmarks-input:hover + label::before {
  background-color: rgb(229, 229, 229);
}

.feedback__landmarks-input:active + label::before {
  background-color: rgb(213, 213, 213);
}

.feedback__landmarks-input:checked + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  bottom: -15px;
  display: block;
  width: 56px;
  height: 56px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.feedback__landmarks-input:checked:hover + label::before {
  background-color: rgb(229, 229, 229);
}

.feedback__landmarks-input:checked:active + label::before {
  background-image: url("../img/icon-tick-active.svg");
  background-color: rgb(213, 213, 213);
}

.feedback__landmarks-input:focus + label::before,
.feedback__landmarks-input:checked:focus + label::before {
  border: 2px solid rgb(163, 196, 298);
  border-radius: 5px;
}

.feedback__contacts-input--phone {
  background-image: url("../img/icon-phone.png");
  background-repeat: no-repeat;
  background-position: right;
}

.feedback__contacts-input--email {
  background-image: url("../img/icon-mail.png");
  background-repeat: no-repeat;
  background-position: right;
}

@media (min-width: @tablet-width) {
  .feedback {
    flex-flow: row;
    flex-wrap: wrap;
  }

  .feedback__item {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
  }

  .feedback__title {
    font-size: 21px;
    max-width: 285px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .feedback__item:nth-child(3) .feedback__title,
  .feedback__item:nth-child(1) .feedback__title {
    padding: 0;
    text-align: left;
  }

  .feedback__item:nth-child(3),
  .feedback__item:nth-child(1) {
    width: 50%;
  }

  .feedback__item:nth-child(2),
  .feedback__item:nth-child(4),
  .feedback__item:nth-child(5) {
    border-top: 1px solid rgb(219, 219, 219);
  }

  .feedback__item:nth-child(1) {
    border-left: 1px solid rgb(219, 219, 219);
    box-sizing: border-box;
    padding-left: 57px;
  }

  .feedback__item:nth-child(3) {
    order: -1;
    box-sizing: border-box;
  }

  .feedback__item:nth-child(4) .feedback__list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-left: 95px;
  }

  .feedback__item:nth-child(4) .feedback__landmarks-item:nth-child(1),
  .feedback__item:nth-child(4) .feedback__landmarks-item:nth-child(2) {
    padding-top: 0;
  }

  .feedback__landmarks-item {
    width: 50%;
  }

  .feedback__send-notice {
    display: block;
  }

  .feadback__send-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .feedback__send-btn {
    width: 325px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding-left: 120px;
    padding-right: 120px;
  }

  .feedback__landmarks-item {
    width: 25%;
  }

  .feedback__item:nth-child(2) .feedback__list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .feedback__item:nth-child(4) .feedback__list {
    padding-left: 0;
  }

  .feedback__item:nth-child(4) .feedback__landmarks-item {
    padding-top: 0;
  }

  .feedback__contacts-item {
    display: flex;
    align-items: center;
  }

  .feedback__contacts-title--desktop-hiden {
    display: none;
  }

  .feedback__contacts-input {
    width: 320px;
  }

  .feedback__contacts-title {
    padding: 0;
    margin-right: 10px;
  }
}
