.form {
  margin: 0 auto;
  text-align: center;
}

.form__title {
  margin: 0;
  text-transform: @uppercase;
  font-size: 18px;
  line-height: 26px;
  padding-top: 37px;
}

.form__subtitle {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: @uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .form {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 960px;
  }

  .form__title {
    font-size: 30px;
    padding-top: 75px;
  }

  .form__subtitle {
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding-left: 120px;
    padding-right: 120px;
  }

  .form__title {
    padding-top: 110px;
  }

  .form__subtitle {
    padding-left: 260px;
    padding-right: 260px;
  }
}
