.page-gallery {
  margin: 0 auto;
}

.page-gallery__title {
  text-transform: @uppercase;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 36px;
}

.page-gallery__subtitle {
  text-transform: @uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  padding-top: 27px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 27px;
}

@media (min-width: @tablet-width) {
  .page-gallery__title {
    font-size: 30px;
    padding-top: 75px;
  }

  .page-gallery__subtitle {
    padding-top: 29px;
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .page-gallery__title {
    padding-top: 108px;
  }

  .page-gallery__subtitle {
    padding-top: 33px;
    padding-left: 375px;
    padding-right: 375px;
    padding-bottom: 70px;
  }
}
