.page-header {
  text-transform: @uppercase;
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 102px / 2);
}

.page-header__image-main {
  padding-top: 56px;
  width: 320px;
  height: 389px;
  text-align: center;
  background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/back-mobile.jpg");
  background-position: bottom  center;
  background-repeat: no-repeat;
}

.page-header__image-main .page-header__image {
  padding-top: 90px;
}

.page-header__image-minor {
  margin-top: 56px;
  width: 320px;
  height: 160px;
  text-align: center;
  background-color: rgb(182, 194, 204);
  background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/back-mobile.jpg");
  background-position: bottom  center;
  background-repeat: no-repeat;
}

.page-header__image-minor .page-header__image {
  padding-top: 53px;
}
