.photo-gallery__title {
  text-transform: @uppercase;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
}

.photo-gallery__list {
  .list-reset;
  width: 100%;
  box-sizing: border-box;
}

.photo-gallery__item {
  padding-top: 24px;
  width: 100%;
  border-top: 1px solid rgb(229, 229, 229);
  text-align: center;
  box-sizing: border-box;
}

.photo-gallery__item:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.photo-gallery__content {
  margin: 0;
  padding: 0;
}

.photo-gallery__text {
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  text-align: left;
}

.photo-gallery__header {
  text-transform: @uppercase;
}

.photo-gallery__likes-number {
  font-weight: 700;
  padding-left: 37px;
  position: relative;
}

.photo-gallery__likes-number::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  left: 0;
}

.photo-gallery__image {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .photo-gallery__list {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .photo-gallery__likes {
    padding-right: 20px;
  }

  .photo-gallery__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
  }

  .photo-gallery__item:nth-child(3) .photo-gallery__text {
    background-color: rgb(234, 234, 234);
  }

  .photo-gallery__title {
    width: 440px;
  }

  .photo-gallery__item {
    border: none;
    padding: 0;
    margin: 0;
    width: 50%;
    position: relative;
    display: inline-block;
  }

  .photo-gallery__item:nth-child(1) {
    width: 100%;
  }

  .photo-gallery__item:last-child {
    border-bottom: none;
  }

  .photo-gallery__image {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-gallery__list {
    padding-left: 0;
    padding-right: 0;
  }

  .photo-gallery__item {
    width: 400px;
    position: relative;
  }

  .photo-gallery__item:nth-child(3) .photo-gallery__text {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .photo-gallery__text {
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
  }

  .photo-gallery__image {
    margin-bottom: -4px;
  }

  .photo-gallery__likes-number::before {
    background-image: url("../img/icon-like-desktop.svg");
  }
}
