.site-list {
  display: flex;
  flex-flow: column;
  .list-reset;
}

.site-list__item {
  width: 100%;
  height: 55px;
  background-color: @main-color-btn;
  padding-top: 8px;
  box-sizing: border-box;
  text-align: center;
}

.site-list__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.site-list__item:not(:first-child) {
  border-top: 1px solid rgb(154, 194, 219);
}

.site-list__item:not(:last-child) {
  border-bottom: 1px solid rgb(103, 143, 168);
}

.site-list__item:last-child {
  box-shadow: inset 0 -5px 5px -1px rgb(108, 150, 176);
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-flow: row;
    justify-content: space-around;
  }

  .site-list__item {
    background-color: transparent;
  }

  .site-list__item:nth-child(2) {
    margin-right: 95px;
  }

  .site-list__item:nth-child(3) {
    margin-left: 95px;
  }

  .site-list__item:not(:first-child) {
    border-top: none;
  }

  .site-list__item:not(:last-child) {
    border-bottom: none;
  }

  .site-list__item:last-child {
    box-shadow: none;
  }

  .site-list__link {
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 26px;
  }
}
