.video {
  text-transform: @uppercase;
  text-align: center;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
}

.video__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  width: 240px;
  margin: 0 auto;
}
