.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display-flex {
  display: flex;
}

.content-wraper {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(242, 242, 242);
}

@media (min-width: @tablet-width) {
  .content-wraper {
    max-width: 900px;
  }
}

@media (min-width: @desktop-width) {
  .content-wraper {
    max-width: 1200px;
  }
}
