@uppercase: uppercase;
@main-color: rgb(129, 179, 210);
@main-color-btn: rgb(129, 179, 210);
@main-color-btn-hover: rgb(102, 158, 192);
@main-color-btn-active: rgb(84, 150, 189);
@main-color-btn-disabled: rgb(229, 229, 229);
@main-color-link-focus: rgb(118, 99, 87);
@main-color-link-focus-hover: rgb(96, 78, 67);
@main-color-link-focus-active: rgb(214, 208, 204);
@input-color: rgb(242, 242, 242);
@input-color-hover: rgb(229, 229, 229);
@input-color-focus: rgb(255, 255, 255);
@tablet-width: 768px;
@desktop-width: 1280px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
